<div style="width: 100%; overflow: hidden;">
    <div style="width: 150px; float: left;"> <img src="https://raw.githubusercontent.com/DataForScience/Networks/master/data/D4Sci_logo_ball.png" alt="Data For Science, Inc" align="left" border="0" width=150px> </div>
    <div style="float: left; margin-left: 10px;"> <h1>Generative AI with OpenAI API</h1>
<h1>Code Generation</h1>
        <p>Bruno Gonçalves<br/>
        <a href="http://www.data4sci.com/">www.data4sci.com</a><br/>
            @bgoncalves, @data4sci</p></div>
</div>

In [1]:
from collections import Counter
from pprint import pprint

import pandas as pd
import numpy as np
import sqlite3

import matplotlib
import matplotlib.pyplot as plt 

from ipywidgets import interact
import openai
from openai import OpenAI

import os
import gzip

import tqdm as tq
from tqdm.notebook import tqdm

import watermark

%load_ext watermark
%matplotlib inline

We start by printing out the versions of the libraries we're using for future reference

In [2]:
%watermark -n -v -m -g -iv

Python implementation: CPython
Python version       : 3.11.7
IPython version      : 8.12.3

Compiler    : Clang 14.0.6
OS          : Darwin
Release     : 24.3.0
Machine     : arm64
Processor   : arm
CPU cores   : 16
Architecture: 64bit

Git hash: 3a7a9a8b6856eb5855cd2ac76a384e203382ab54

watermark : 2.4.3
openai    : 1.30.5
matplotlib: 3.8.0
sqlite3   : 2.6.0
numpy     : 1.26.4
json      : 2.0.9
tqdm      : 4.66.4
pandas    : 2.2.3

Load default figure style

In [3]:
plt.style.use('d4sci.mplstyle')
colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

# Text to Code

In [4]:
client = OpenAI()

In [14]:
messages = [
        {
            "role": "system", 
            "content": """You are a grumpy but expert Python software engineer 
             thats interviewing for a job. Please be as concise with your answers as possible."""
        },
        {
            "role": "user", 
            "content": """Create a recursive Python function to compute 
                Fibonacci numbers. Don't provide any explanation, just the code"""
        },
  ]

In [15]:
response = client.chat.completions.create(
    model="gpt-4",
    messages=messages,
    temperature=0,
    max_tokens=1024
)

Which produces the expected result

In [16]:
print(response.choices[0].message.content)

def fibonacci(n):
    if n <= 1:
       return n
    else:
       return(fibonacci(n-1) + fibonacci(n-2))

and works as expected

In [17]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [18]:
fibonacci(15)

610

Let us define a utility function to make sequential queries easier

In [19]:
def chat(messages, prompt):
    messages.append({"role":"user", "content":prompt})
    
    response = client.chat.completions.create(
        model="gpt-3.5-turbo",
        messages=messages,
        temperature=0,
        max_tokens=1024
    )
    
    messages.append(response.choices[0].message)
    
    return messages[-1].content

# Adding comments

In [20]:
print(chat(messages, "Can you add comments to this function?"))

```python
def fibonacci(n):
    # Base case
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)
```

In [21]:
print(chat(messages, "What is the purpose of recursion in this piece of code?"))

To calculate Fibonacci numbers by breaking down the problem into smaller subproblems.

In [22]:
messages

[{'role': 'system',
  'content': 'You are a grumpy but expert Python software engineer \n             thats interviewing for a job. Please be as concise with your answers as possible.'},
 {'role': 'user',
  'content': "Create a recursive Python function to compute \n                Fibonacci numbers. Don't provide any explanation, just the code"},
 {'role': 'user', 'content': 'Can you add comments to this function?'},
 ChatCompletionMessage(content='```python\ndef fibonacci(n):\n    # Base case\n    if n <= 1:\n        return n\n    else:\n        return fibonacci(n-1) + fibonacci(n-2)\n```', role='assistant', function_call=None, tool_calls=None, refusal=None),
 {'role': 'user',
  'content': 'What is the purpose of recursion in this piece of code?'},
 ChatCompletionMessage(content='To calculate Fibonacci numbers by breaking down the problem into smaller subproblems.', role='assistant', function_call=None, tool_calls=None, refusal=None)]

# Explain Existing Code

Let's use a relatively small python script

In [23]:
code_text = "".join(open("data/EpiModel.py").readlines())

In [24]:
print(code_text)

### −∗− mode : python ; −∗−
# @file EpiModel.py
# @author Bruno Goncalves
######################################################

import networkx as nx
import numpy as np
from numpy import linalg
from numpy import random
import scipy.integrate
import pandas as pd
import matplotlib.pyplot as plt

from tqdm import tqdm
tqdm.pandas()

class EpiModel(object):
    """Simple Epidemic Model Implementation

        Provides a way to implement and numerically integrate
    """
    def __init__(self, compartments=None):
        self.transitions = nx.MultiDiGraph()
        self.seasonality = None

        if compartments is not None:
            self.transitions.add_nodes_from([comp for comp in compartments])

    def add_interaction(self, source, target, agent, rate):
        self.transitions.add_edge(source, target, agent=agent, rate=rate)

    def add_spontaneous(self, source, target, rate):
        self.transitions.add_edge(source, target, rate=rate)

    def add_vaccination(self, source, target, rate, start):
        self.transitions.add_edge(source, target, rate=rate, start=start)

    def _new_cases(self, population, time, pos):
        """Internal function used by integration routine"""
        diff = np.zeros(len(pos))
        N = np.sum(population)

        for edge in self.transitions.edges(data=True):
            source = edge[0]
            target = edge[1]
            trans = edge[2]

            rate = trans['rate']*population[pos[source]]

            if 'start' in trans and trans['start'] >= time:
                continue

            if 'agent' in trans:
                agent = trans['agent']
                rate *= population[pos[agent]]/N

                if self.seasonality is not None:
                    curr_t = int(time)%365
                    season = float(self.seasonality[curr_t])
                    rate *= season

            diff[pos[source]] -= rate
            diff[pos[target]] += rate

        return diff

    def plot(self, title=None, normed=True, **kwargs):
        """Convenience function for plotting"""
        try:
            if normed:
                N = self.values_.iloc[0].sum()
                ax = (self.values_/N).plot(**kwargs)
            else:
                ax = self.values_.plot(**kwargs)

            ax.set_xlabel('Time')
            ax.set_ylabel('Population')

            if title is not None:
                ax.set_title(title)

            return ax
        except:
            raise NotInitialized('You must call integrate() first')

    def __getattr__(self, name):
        """Dynamic method to return the individual compartment values"""
        if 'values_' in self.__dict__:
            return self.values_[name]
        else:
            raise AttributeError("'EpiModel' object has no attribute '%s'" % name)

    def simulate(self, timesteps, t_min=1, seasonality=None, **kwargs):
        """Stochastically simulate the epidemic model"""
        pos = {comp: i for i, comp in enumerate(self.transitions.nodes())}
        population=np.zeros(len(pos), dtype='int')

        for comp in kwargs:
            population[pos[comp]] = kwargs[comp]

        values = []
        values.append(population)

        comps = list(self.transitions.nodes)
        time = np.arange(t_min, t_min+timesteps, 1, dtype='int')

        self.seasonality = seasonality

        for t in time:
            pop = values[-1]
            new_pop = values[-1].copy()
            N = np.sum(pop)


            for comp in comps:
                trans = list(self.transitions.edges(comp, data=True))

                prob = np.zeros(len(comps), dtype='float')

                for _, node_j, data in trans:
                    source = pos[comp]
                    target = pos[node_j]

                    rate = data['rate']

                    if 'start' in data and data['start'] >= t:
                        continue

                    if 'agent' in data:
                        agent = pos[data['agent']]
                        rate *= pop[agent]/N

                        if self.seasonality is not None:
                            curr_t = int(t)%365
                            season = float(self.seasonality[curr_t])
                            rate *= season

                    prob[target] = rate

                prob[source] = 1-np.sum(prob)

                delta = random.multinomial(pop[source], prob)
                delta[source] = 0

                changes = np.sum(delta)

                if changes == 0:
                    continue

                new_pop[source] -= changes

                for i in range(len(delta)):
                    new_pop[i] += delta[i]

            values.append(new_pop)

        values = np.array(values)
        self.values_ = pd.DataFrame(values[1:], columns=comps, index=time)

    def integrate(self, timesteps, t_min=1, seasonality=None, **kwargs):
        """Numerically integrate the epidemic model"""
        pos = {comp: i for i, comp in enumerate(self.transitions.nodes())}
        population=np.zeros(len(pos))

        for comp in kwargs:
            population[pos[comp]] = kwargs[comp]

        time = np.arange(t_min, t_min+timesteps, 1)

        self.seasonality = seasonality
        self.values_ = pd.DataFrame(scipy.integrate.odeint(self._new_cases, population, time, args=(pos,)), columns=pos.keys(), index=time)

    def __repr__(self):
        text = 'Epidemic Model with %u compartments and %u transitions:\n\n' % \
              (self.transitions.number_of_nodes(),
               self.transitions.number_of_edges())

        for edge in self.transitions.edges(data=True):
            source = edge[0]
            target = edge[1]
            trans = edge[2]

            rate = trans['rate']

            if 'agent' in trans:
                agent = trans['agent']
                text += "%s + %s = %s %f\n" % (source, agent, target, rate)
            elif 'start' in trans:
                start = trans['start']
                text+="%s -> %s %f starting at %s days\n" % (source, target, rate, start)
            else:
                text+="%s -> %s %f\n" % (source, target, rate)

        R0 = self.R0()

        if R0 is not None:
            text += "\nR0=%1.2f" % R0

        return text

    def _get_active(self):
        active = set()

        for node_i, node_j, data in self.transitions.edges(data=True):
            if "agent" in data:
                active.add(data['agent'])
            else:
                active.add(node_i)

        return active

    def _get_susceptible(self):
        susceptible = set([node for node, deg in self.transitions.in_degree() if deg==0])

        if len(susceptible) == 0:
            for node_i, node_j, data in self.transitions.edges(data=True):
                if "agent" in data:
                    susceptible.add(node_i)

        return susceptible

    def _get_infections(self):
        inf = {}

        for node_i, node_j, data in self.transitions.edges(data=True):
            if "agent" in data:
                agent = data['agent']

                if agent not in inf:
                    inf[agent] = {}

                if node_i not in inf[agent]:
                    inf[agent][node_i] = {}

                inf[agent][node_i]['target'] = node_j
                inf[agent][node_i]['rate'] = data['rate']

        return inf


    def R0(self):
        infected = set()

        susceptible = self._get_susceptible()

        for node_i, node_j, data in self.transitions.edges(data=True):
            if "agent" in data:
                infected.add(data['agent'])
                infected.add(node_j)


        infected = sorted(infected)
        N_infected = len(infected)

        F = np.zeros((N_infected, N_infected), dtype='float')
        V = np.zeros((N_infected, N_infected), dtype='float')

        pos = dict(zip(infected, np.arange(N_infected)))

        try:
            for node_i, node_j, data in self.transitions.edges(data=True):
                rate = data['rate']

                if "agent" in data:
                    target = pos[node_j]
                    agent = pos[data['agent']]

                    if node_i in susceptible:
                        F[target, agent] = rate
                elif "start" in data:
                    continue
                else:
                    source = pos[node_i]

                    V[source, source] += rate

                    if node_j in pos:
                        target = pos[node_j]
                        V[target, source] -= rate

            eig, v = linalg.eig(np.dot(F, linalg.inv(V)))

            return eig.max()
        except:
            return None

    def __getitem__(self, bla):
        return self.values_[bla]

if __name__ == '__main__':

    beta = 0.2
    mu = 0.1

    SIR = EpiModel()
    SIR.add_interaction('S', 'I', 'I', beta)
    SIR.add_spontaneous('I', 'R', mu)
    SIR.add_vaccination('S', 'V', 0.01, 75)
    SIR.add_spontaneous('VI', 'VR', mu)
    SIR.add_interaction('V', 'VI', 'I', beta*(1-.8))


    print(SIR)

    N = 100000
    I0 = 10

    season = np.ones(365+1)
    season[74:100] = 0.25

    fig, ax = plt.subplots(1)

    Nruns = 1000
    values = []

    #for i in tqdm(range(Nruns), total=Nruns):
    SIR.integrate(365, S=.3*N-10, I=10, V=.7*N)

    SIR[['I', 'VI', 'VR', 'R']].plot(ax=ax)
    print(SIR.S.tail())
    #ax.plot(SIR.I/N, lw=.1, c='b')

    if SIR.I.max() > 10:
        values.append(SIR.I)

    values = pd.DataFrame(values)
    (values.median(axis=0)/N).plot(ax=ax, c='r')

    fig.savefig('SIR.png')

In [25]:
%%time
print(chat(messages, "Please explain what this piece of code does: ```%s```" % code_text))

This code defines a class `EpiModel` for simulating and numerically integrating a simple epidemic model. It includes methods for adding interactions, spontaneous transitions, and vaccinations, as well as for plotting and calculating the basic reproduction number (R0). The main script at the end demonstrates how to use the class to simulate an SIR model and plot the results.
CPU times: user 13 ms, sys: 3.27 ms, total: 16.2 ms
Wall time: 1.04 s

In [26]:
%%time
print(chat(messages, "Can you please add a doc string to each function and method? Please include information about each argument of the function"))

```python
def __init__(self, compartments=None):
    """Initialize the EpiModel object.

    Args:
        compartments (list): List of compartment names.
    """

def add_interaction(self, source, target, agent, rate):
    """Add an interaction between compartments.

    Args:
        source (str): Source compartment name.
        target (str): Target compartment name.
        agent (str): Agent involved in the interaction.
        rate (float): Rate of the interaction.
    """

def add_spontaneous(self, source, target, rate):
    """Add a spontaneous transition between compartments.

    Args:
        source (str): Source compartment name.
        target (str): Target compartment name.
        rate (float): Rate of the transition.
    """

def add_vaccination(self, source, target, rate, start):
    """Add a vaccination transition between compartments.

    Args:
        source (str): Source compartment name.
        target (str): Target compartment name.
        rate (float): Rate of the vaccination.
        start (int): Start time of the vaccination.
    """

def _new_cases(self, population, time, pos):
    """Internal function used by integration routine.

    Args:
        population (numpy.array): Array of population counts.
        time (int): Current time step.
        pos (dict): Mapping of compartment names to indices.
    """

# Add docstrings for the remaining methods in a similar format
```
CPU times: user 11.8 ms, sys: 2.63 ms, total: 14.5 ms
Wall time: 2.87 s

# Interacting with a database

Let us open a small test database. This file was downloaded from https://github.com/chineseballer06/Statistical-Analysis-of-Northwind-Database/blob/master/Northwind_small.sqlite

In [28]:
con = sqlite3.connect("data/Northwind_small.sqlite")

In [29]:
messages = [
    {"role": "system", 
     "content": """You're a Database Administrator. 
        Please generate SQL queries to answer the following questions. 
        No comments are necessary."""},
    {"role": "user", "content": """
        # Table Employee, columns = [Id, LastName, First Name]
        # Table Shipper, columns = [Id, CompanyName, Phone]
        # Table OrderDetail, columns = [OrderId, ProductId, Quantity]
        # Table EmployeeTerritory, columns = [Id, EmployeeId, TerritoryId]
    """},
]

In [30]:
query_sql = chat(messages, "Generate a table with employee first name, last name and territory id")
print(query_sql)

SELECT e.FirstName, e.LastName, et.TerritoryId
FROM Employee e
JOIN EmployeeTerritory et ON e.Id = et.EmployeeId;

In [31]:
pd.read_sql(query_sql, con)

   FirstName   LastName TerritoryId
0      Nancy    Davolio       06897
1      Nancy    Davolio       19713
2     Andrew     Fuller       01581
3     Andrew     Fuller       01730
4     Andrew     Fuller       01833
5     Andrew     Fuller       02116
6     Andrew     Fuller       02139
7     Andrew     Fuller       02184
8     Andrew     Fuller       40222
9      Janet  Leverling       30346
10     Janet  Leverling       31406
11     Janet  Leverling       32859
12     Janet  Leverling       33607
13  Margaret    Peacock       20852
14  Margaret    Peacock       27403
15  Margaret    Peacock       27511
16    Steven   Buchanan       02903
17    Steven   Buchanan       07960
18    Steven   Buchanan       08837
19    Steven   Buchanan       10019
20    Steven   Buchanan       10038
21    Steven   Buchanan       11747
22    Steven   Buchanan       14450
23   Michael     Suyama       85014
24   Michael     Suyama       85251
25   Michael     Suyama       98004
26   Michael     Suyama       98052
27   Michael     Suyama       98104
28    Robert       King       60179
29    Robert       King       60601
30    Robert       King       80202
31    Robert       King       80909
32    Robert       King       90405
33    Robert       King       94025
34    Robert       King       94105
35    Robert       King       95008
36    Robert       King       95054
37    Robert       King       95060
38     Laura   Callahan       19428
39     Laura   Callahan       44122
40     Laura   Callahan       45839
41     Laura   Callahan       53404
42      Anne  Dodsworth       03049
43      Anne  Dodsworth       03801
44      Anne  Dodsworth       48075
45      Anne  Dodsworth       48084
46      Anne  Dodsworth       48304
47      Anne  Dodsworth       55113
48      Anne  Dodsworth       55439

In [33]:
sql_query = chat(messages, "Compute how many employees work in each territory")
print(sql_query)

SELECT et.TerritoryId, COUNT(e.Id) AS NumEmployees
FROM Employee e
JOIN EmployeeTerritory et ON e.Id = et.EmployeeId
GROUP BY et.TerritoryId;

In [34]:
pd.read_sql(sql_query, con)

   TerritoryId  NumEmployees
0        01581             1
1        01730             1
2        01833             1
3        02116             1
4        02139             1
5        02184             1
6        02903             1
7        03049             1
8        03801             1
9        06897             1
10       07960             1
11       08837             1
12       10019             1
13       10038             1
14       11747             1
15       14450             1
16       19428             1
17       19713             1
18       20852             1
19       27403             1
20       27511             1
21       30346             1
22       31406             1
23       32859             1
24       33607             1
25       40222             1
26       44122             1
27       45839             1
28       48075             1
29       48084             1
30       48304             1
31       53404             1
32       55113             1
33       55439             1
34       60179             1
35       60601             1
36       80202             1
37       80909             1
38       85014             1
39       85251             1
40       90405             1
41       94025             1
42       94105             1
43       95008             1
44       95054             1
45       95060             1
46       98004             1
47       98052             1
48       98104             1

In [35]:
sql_query = chat(messages, "How many shippers do we work with?")
print(sql_query)

SELECT COUNT(*)
FROM Shipper;

In [36]:
pd.read_sql(sql_query, con)

   COUNT(*)
0         3

In [37]:
messages

[{'role': 'system',
  'content': "You're a Database Administrator. \n        Please generate SQL queries to answer the following questions. \n        No comments are necessary."},
 {'role': 'user',
  'content': '\n        # Table Employee, columns = [Id, LastName, First Name]\n        # Table Shipper, columns = [Id, CompanyName, Phone]\n        # Table OrderDetail, columns = [OrderId, ProductId, Quantity]\n        # Table EmployeeTerritory, columns = [Id, EmployeeId, TerritoryId]\n    '},
 {'role': 'user',
  'content': 'Generate a table with employee first name, last name and territory id'},
 ChatCompletionMessage(content='SELECT e.FirstName, e.LastName, et.TerritoryId\nFROM Employee e\nJOIN EmployeeTerritory et ON e.Id = et.EmployeeId;', role='assistant', function_call=None, tool_calls=None, refusal=None),
 {'role': 'user',
  'content': 'Compute how many employees work in each territory'},
 ChatCompletionMessage(content='SELECT TerritoryId, COUNT(EmployeeId) AS NumEmployees\nFROM EmployeeTerritory\nGROUP BY TerritoryId;', role='assistant', function_call=None, tool_calls=None, refusal=None),
 {'role': 'user',
  'content': 'Compute how many employees work in each territory'},
 ChatCompletionMessage(content='SELECT et.TerritoryId, COUNT(e.Id) AS NumEmployees\nFROM Employee e\nJOIN EmployeeTerritory et ON e.Id = et.EmployeeId\nGROUP BY et.TerritoryId;', role='assistant', function_call=None, tool_calls=None, refusal=None),
 {'role': 'user', 'content': 'How many shippers do we work with?'},
 ChatCompletionMessage(content='SELECT COUNT(*)\nFROM Shipper;', role='assistant', function_call=None, tool_calls=None, refusal=None)]

In [45]:
len(messages)

10

In [38]:
    response = client.chat.completions.create(
        model="gpt-3.5-turbo",
        messages=messages,
        temperature=0,
        max_tokens=1024
    )

In [44]:
response.choices[0].message.content

'SELECT COUNT(Id)\nFROM Shipper;'

<center>
     <img src="https://raw.githubusercontent.com/DataForScience/Networks/master/data/D4Sci_logo_full.png" alt="Data For Science, Inc" align="center" border="0" width=300px> 
</center>